.info{
    padding-bottom: 1rem;
}
.sourceCode{
    background-color: #f8f9fa !important;
    padding: .5rem !important;
}
.tldr{
    color: #404040;
    font-style: italic;
}
.meta {
    border-style: dashed;
    border-color: #777777;
    padding: 1em;
}
