<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/images/mxerlangen.svg" width="30" height="30" class="d-inline-block align-top" alt="Emacs logo">
      M-x Erlangen
    </a>

    <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> -->
      <div class="navbar-nav flex-row">
        <a class="nav-link" href="/talks.html">Talks</a>
      </div>
    <!-- </div> -->

    <a href="/atom.xml" class="d-inline-block align-top ml-auto">
      <img src="/images/feed.svg" width="30" height="30" alt="Feed" />
    </a>
  </div>
</nav>
$if(next)$
<div class="alert alert-info" role="alert">
  <div class="container">
    Upcoming: $next$
  </div>
</div>
$endif$
