$if(upcoming)$
<h2>Upcoming talks:</h2>
$endif$
$partial("templates/upcoming-list.html")$

<h2>Your talk here!</h2>
<p>If you are interested in presenting something or you want to see a talk on a certain topic get in touch.</p>

<h2>All previous talks:</h2>
$partial("templates/talk-list.html")$
